<h2>SpinKit</h2>

<div class="examples">
  <div class="example"><SkPlane  @color="red" /></div>

  <div class="example"><SkChase /></div>

  <div class="example"><SkBounce /></div>

  <div class="example"><SkWave /></div>

  <div class="example"><SkPulse /></div>

  <div class="example"><SkFlow @parts={{array (hash color="red" size="100px") (hash color="blue" size="75px") (hash color="green" size="25px")}} /></div>

  <div class="example"><SkSwing /></div>

  <div class="example"><SkCircle /></div>

  <div class="example"><SkCircleFade /></div>

  <div class="example"><SkGrid /></div>

  <div class="example"><SkFold /></div>

  <div class="example"><SkWander /></div>

</div>
