<h2>SpinKit</h2>

<div class="examples">
  <div class="example"><SkPlane /></div>

  <div class="example"><SkChase /></div>

  <div class="example"><SkBounce /></div>

  <div class="example"><SkWave /></div>

  <div class="example"><SkPulse /></div>

  <div class="example"><SkFlow /></div>

  <div class="example"><SkSwing /></div>

  <div class="example"><SkCircle /></div>

  <div class="example"><SkCircleFade /></div>

  <div class="example"><SkGrid /></div>

  <div class="example"><SkFold /></div>

  <div class="example"><SkWander /></div>

</div>
